 <div class="media reply-list">

    <% comment.replies.each do |reply| %>
      <a class="pull-left" href="#">
        <%= image_tag user_image(User.find_by(name: reply.name)), class: "media-object" %>
      </a>
      <div class="media-body">
          <h4 class="media-heading"><%= reply.name %>
              <small><%= reply.created_at.to_s(:db) %></small>
          </h4>
          <p><%= best_in_place reply,:reply, path: post_comment_reply_path(comment.commentable, comment,reply) %></p>
          <i class="fa fa-trash" aria-hidden="true"></i><%= link_to "刪除留言", post_comment_reply_path(comment.commentable, comment, reply), method: :delete%>
      </div>
      <br>
    <% end %>
</div>