<div class="media well">
  <% @post.comments.each do |comment| %>
    <a class="pull-left" href="#">
        <img class="media-object" src=<%= user_image(User.find_by(name: comment.name)) %> alt="">
    </a>
    <div class="media-body">
      <h4 class="media-heading"><%=comment.name %>
           <small><%= comment.created_at.to_s(:long) %></small>
      </h4>
      
      <p>
        <% if current_user.try(:name) == comment.name %>
          <%= best_in_place comment, :comment, path: post_comment_path(@post, comment), as: :textarea  %>
        <% else %>
          <%= comment.comment %>
        <% end %>
          
      </p><br>
        <%= link_to '展開留言'+"(#{comment.replies.count})", '#', class: 'more_replies' %><br>

        <%= render partial: 'replies/reply', locals: {comment: comment} %>
        <% if user_signed_in? %>
          <%= link_to '回覆', '#', class: 'reply' %>
          <br>
          <br>
          <%= render partial: 'replies/reply_form', locals: {comment: comment} %>
          <% if current_user.name == comment.name %>
            <i class="fa fa-trash pull-right" aria-hidden="true"></i><%= link_to '刪除留言', post_comment_path(comment.commentable, comment), method: :delete, data: {confirm: "確定要刪除?"},class: 'pull-right' %>        <% end %>
          <% end %>
    </div>
  <% end %>
</div>

