<div class="comment-list panel panel-info">
  <% @post.comments.each do |comment| %>
    <p class="panel-heading"><%= comment.name %></p>
    <p class="panel-body"><%= comment.comment %><br>
    <%= link_to '回覆', '#', class: 'reply' %>
    <%= render partial: 'replies/reply', locals: {comment: comment} %>
    <% if user_signed_in? %>
      <%= link_to '刪除留言', post_comment_path(comment.post, comment), method: :delete, data: {confirm: "確定要刪除?"},class: 'pull-right' %></p>
    <% end %>
  <% end %>
</div>