<div class="modal-content">
  <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
     <h3 id="myModalLabel">新增評價</h3>
  </div>
   <div class="modal-body well">
     <%= form_for [@game, @review] do |f|%>
      <%= f.hidden_field :name, value: current_user.name %>
      
      <div class="form-group">
        <%= f.label :rating %>
        <div id="game-rating" data-score=<%= @review.rating %>></div>
      </div>

      <div class="form-group">
        <%= f.label :comment %>
        <%= f.text_area :comment %>
      </div>
      <%= f.submit "送出", class: "btn btn-primary btn-xs" %>
     <% end %>
   </div>
   <div class="modal-footer">
     <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
   </div>
  </div>
</div