<h1>遊戲介紹</h1>
  <%= image_tag @game.image.medium.url unless @game.image.blank? %><br>
<p>標題: <%= @game.title %></p>
<p>製作公司: <%= @game.company %></p>
<p>平台: <%= @game.os %></p>
<p>評分: <div class="star-rating" data-score=<%= @game.rating %> ></div></p>
<p>介紹: </p>
<span><%= raw @game.review %></span>

<% if is_admin?(current_user) %>
  <%= link_to "修改", edit_game_path(@game) %>
  <%= link_to "刪除", game_path(@game), method: :delete, data: {confirm: "確定刪除?"} %>
<% end %>
<% if user_signed_in? && @my_review%>
  <hr>
  <p>My Comment</p>
  <div class="well my-game-review media"> 
    <div class="media-left">
      <%= image_tag user_image(current_user)%>
    </div>
    <div class="media-body">
      <%= @my_review.comment %>
      <p><%= link_to "刪除", game_comment_path(@game, @my_review), method: :delete %>|<%= link_to "編輯", edit_review_path(@my_review), {remote: true, 'data-toggle': "modal", 'data-target': "#modal-window"} %><p>
    </div>
  </div>
  <hr>
<% end %>

<p>大家的回應<p>
<div id="modal-window" class="modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<% if user_signed_in? && !has_user_review?(@game)%>
  <%= link_to "新增回應", new_review_path(@game), {remote: true, 'data-toggle': "modal", 'data-target': '#modal-window'}%>
<% end %>

<div class="well game-review">
  <% @game.comments.each do |comment| %>
    <div class="media">
      <div class="media-left">
      <% commented_user = User.find_by(name: comment.name) %>
        <%= image_tag user_image(commented_user) %>
      </div>
      <div class="media-body">
        <p><%= commented_user.name %></p>
        <span><%= comment.comment %></span>
        <% if is_admin?(current_user)  %>
          <p><%= link_to "刪除", game_comment_path(@game, comment), method: :delete, data: {confirm: "確定刪除?" } %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
