<h1>遊戲介紹</h1>
標題: <%= @game.title %>
製作公司: <%= @game.company %>
平台: <%= @game.os %>
評分: <%= @game.rating %>
介紹: <%= @game.review %>

<%= link_to "修改", edit_game_path(@game) %>
<%= link_to "刪除", game_path(@game), method: :delete, data: {confirm: "確定刪除?"} %>