<h1>GuestBook</h1><br>

<% if user_signed_in? %>
  <%= link_to "新增留言", new_mboard_path %><br>
<% end %>

<% @posts.each do |post| %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= post.name %>
        <%= post.created_at.strftime("%F %T") %>
      </h3>
    </div>
    <div class="panel-body">
      <div class="comment-body viewer">
        <%= sanitize(markdown(post.post)) %>
        <% if user_signed_in? %>
          <i class="fa fa-reply" aria-hidden="true"><%= link_to "回覆", 'javascript:;',class: "display-comment" %></i><br>
          <div class="mboard-comment">
            <%= render partial: 'comments/mboard_comment', locals: {post_id: post.id} %>
          </div>
        <% end %>
        <% if user_signed_in? %>
          <% if post.name == current_user.try(:name) %>
            <%= button_tag '編輯', class: 'edit-comment-form btn btn-primary btn-xs', type: :button %>
            <%= link_to "刪除", mboard_path(post), method: :delete, data: {confirm: "確定刪除?"}, class: 'btn btn-warning btn-xs' %>
          <% end %>
        <% end %>
      </div>
      

      <% if user_signed_in? %>
        <% if post.name == current_user.try(:name) %>
          <div class="mboard-edit editor" %>
            <%= render partial: 'edited_comment', locals: {post: post} %>
          </div>
        <% end %>
      <% end %>
        

    </div>

   
    
    <% if post.comments.any? %>
      <% post.comments.each do |comment| %>
        <div class="media well" id= <%= comment.id %> >
          <div class="media-left">
            <%= image_tag user_image(User.find_by(name: comment.name)) %>
          </div>
          <div class="media-body">
            <span><%= comment.comment %></span><br>
            <% if comment.name == current_user.try(:name) %>
              <%= link_to "刪除", mboard_comment_path(post, comment), method: :delete, remote: true %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
      
    </ul>

  </div>
  
  
<% end %>
