
<h1>Blog留言管理</h1>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    選擇管理區塊
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><%= link_to 'Blog回文管理', admin_comments_path(type: "blog"), role: 'menuitem', tabindex: '-1' %></li>
     <li role="presentation"><%= link_to 'Blog留言管理', admin_replies_path, role: 'menuitem', tabindex: '-1' %></li>
    <li role="presentation"><%= link_to '遊戲review留言管理', admin_comments_path(type: "game"), role: 'menuitem', tabindex: '-1' %></li>
     <li role="presentation"><%= link_to '留言板留言', admin_comments_path(type: "mboard"), role: 'menuitem', tabindex: '-1' %></li>
  </ul>
</div>
<br>

<%= render partial: 'form' %>
